mpdscribble
weechat
testing_cred.d
nvim/.config/nvim/plugged
nvim/.config/nvim/plugin
nvim/.config/nvim/autoload
nvim/.config/nvim/undodir
nvim/.config/nvim/.netrwhist
mpd/.config/mpd/database
mpd/.config/mpd/log
mpd/.config/mpd/logs
mpd/.config/mpd/pid
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
ncmpcpp/.ncmpcpp/error.log
xresources/.config/current_theme
xresources/.config/current_font
vimperator/.vimperator/info
xresources/Xresources.d/current_theme
xresources/Xresources.d/current_font
ranger/.config/ranger/history
ranger/.config/ranger/bookmarks
